---
import { WhoamiCard } from "./whoamiCard";
import { RecordCard } from "./recordCard";

---
<div class="flex flex-wrap items-center">
    <div class="w-full md:w-1/2 p-2">
        <WhoamiCard client:visible />
    </div>
    <div class="w-full md:w-1/2 p-2">
        <RecordCard client:visible />
    </div>
</div>