---
import { Image } from "astro:assets";
---

<footer class="w-full p-2 mt-2">
	<div class="flex justify-center">
		<p>
			Built with ❤ by <a
				href="https://twitter.com/amex2189"
				target="_blank"
				rel="noopener noreferrer"
				class="hover:underline text-red-500">@amex2189</a
			>
		</p>
	</div>
	<div class="flex justify-end items-center mt-1">
		<a href="https://github.com/EdamAme-x" target="_blank" rel="noopener noreferrer" title="GitHub">
			<Image
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
				alt="GitHub"
				width={32}
				height={32}
				class="bg-white rounded-full mx-2 p-1"
			/>
		</a>
		<a href="https://twitter.com/amex2189" target="_blank" rel="noopener noreferrer" title="Twitter">
			<Image
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg"
				alt="GitHub"
				width={32}
				height={32}
				class="bg-white rounded-full mx-2 p-1"
			/>
		</a>
		<a href="https://zenn.dev/ame_x" target="_blank" rel="noopener noreferrer" title="Zeen">
			<Image
				src="https://static.zenn.studio/images/logo-transparent.png"
				alt="GitHub"
				width={32}
				height={32}
				class="bg-white rounded-full mx-2 p-1"
			/>
		</a>
	</div>
</footer>
